<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>
        Welcome to Angular
    </h1>
    <button (click)="getUnread()">Update Unread</button>

    <button (click)="barBoosterHide()">Bar Booster Toggle</button>

    <button (click)="changeUser()">Change User</button>
    <button (click)="changeData()">Change Data</button>

    <announcekit
        #announcekitComponent
        (onWidgetReady)="ready()"
        (onWidgetOpen)="open()"
        [user]="user"
        [data]="data"
        widget="https://announcekit.co/widgets/v2/2nI0Ok"
    >
        What's new
    </announcekit>

    <span>Unread counter: {{unread}}</span>

    <p>
    </p>
</div>
